body {
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav {
    margin-top: 8px;
}

#intro { 
    background: url('../images/bg-home-top.jpg') center bottom fixed;
    background-size: cover;
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    height: 600px;
    position: relative; 
    padding: 200px 0;
}

.cta {
    text-align: center;
}

.cta button {
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
}

.cta p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 20px 0;
}

h2 {
    font-weight: 200;
    text-align: center;
    color: #555;
    margin: 0 0 50px;
    padding: 0;
}

h3 {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

h5 {
    font-size: 12px;
}

.progress {
    height: 10px;
}

.featured-stats {
    font-size: 10px;
    font-weight: 200;
    color: 666;
    text-align: center;
    margin: -10px 0 10px;
}

.featured-stats strong {
    font-size: 12px;
    color: #333;
}

#team { 
    background: #fff; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 30px 0;
}
#contact { 
    background: url('https://s3.amazonaws.com/assets-triptrotter/assets/havana.jpg') 50% 0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 80px 0;
}

form {
    margin: 30px 0 20px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.panel-heading {
    background-color: rgba(255, 255, 255, 0.5);
}


.current {
    text-align: center;
    padding: 9px 0 15px;
}

.social a {
    display: inline-block;
    position: relative;
    top: 5px;
}

.team .panel {
    border: none;
    background-color: #f3f3f3
}

.team img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}


 /* Large desktop */
@media (min-width: 1200px) { 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 767px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Potrait phones and down */
 @media (max-width: 320px) {

    .navbar-brand img {
        width: 150px;
    }
   
    #intro { 
        background: url('https://s3.amazonaws.com/assets-triptrotter/assets/sweden.jpg') center center fixed;
        background-size: auto 800px;
        height: auto;  
        margin: 0 auto; 
        width: 100%; 
        height: 500px;
        padding: 100px 0;
    }

    .col-iphone-12 {
        width: 100%;
    }

    #email_form_btn {
        width: 228px;
        margin: 15px;
    }

    .current {
        text-align: center;
        padding: 0px 0 20px;
        float: none;
    }

    .social {
        text-align: center;
        float: none;
        font-size: 12px;
        margin-bottom: 10px;
    }


 }